.contactPage{
    margin: 190px;
    margin-top: 69px;
    border-radius: 5px;
    background-image: url(https://i.pinimg.com/originals/b8/02/72/b8027272774cf4a075e1112e4aec20b3.gif);
    padding: 20px;
}

.contactForm{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    border: 2px solid;
    color: rgb(255, 255, 255) ;
    border-radius: 10px;
    text-align: center;
    text-decoration: solid;
    font-style: italic;
    font-size: 20px;
}

.contactForm > label{
    margin: 10px 0;
}

.contactInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.submitButton{
    background-color: #04aa2e;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px;
}
.submitButton:hover {
    background-color: #1ba1bf
}